---
layout: default
---

<article class="post">
    <header class="post-header intro" style="background: url({{ page.image }}) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;">
        <div class="intro-in">
            <h1 class="post-title">{{ page.title }}</h1>
            {% if page.subtitle %}
                <h2 class="intro-subtitle">{{ page.subtitle }}</h2>
            {% endif %}
        </div>
    </header>

    <div class="post-content container">
        {{ content }}
    </div>
</article>
